#form {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

#form input {
  margin: 0.5rem 0rem !important;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  border: 1px solid;
  border-color: rgba(179, 179, 179, 0.644);
  padding: 1rem 2rem !important;
}

.btt {
  margin: 1rem 0rem !important;
}
#fields {
  display: flex;
  max-height: 80vh;
  flex-wrap: wrap;
  padding-top: 2rem;

  flex-direction: column;
}

input::placeholder {
  margin: 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
}
.input-div span {
  margin: 0rem 0rem;
}
.input-div * {
  width: 100%;
}
